
* {
  font-family:  Helvetica, sans-serif !important;
}

html, body, h1, footer {
  font-family:  Helvetica, sans-serif !important; /*Specify your font name here*/
  -ms-text-size-adjust: 100% !important;
  -webkit-text-size-adjust: 100% !important;
}

:root {
  --firstColor:#024059;
  --secondColor: #C14328;
  --thirdColor: #46C6E9;
  --fourthColor: white;
  
  --fontColor: black;
  --crustaColor: #F3634E;
}

/* futura */ 
@font-face {
  font-family: 'futura';
  src: local('futura'),
       url('../src/fonts/futura/futur.ttf');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'futura';
  src: local('futura'),
       url('../src/fonts/futura/Futura\ Bold\ font.ttf');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'futura';
  src: local('futura'),
       url('../src/fonts/futura/Futura\ Light\ Italic\ font.ttf');
  font-style: italic;
  font-weight: normal;
}
/* bodoni */ 
@font-face {
  font-family: 'bodoni';
  src: local('bodoni'),
       url('../src/fonts/bodoni/bodoni.ttf');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'bodoni';
  src: local('bodoni'),
       url('../src/fonts/bodoni/Bodoni\ Bold.ttf');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'bodoni';
  src: local('bodoni'),
       url('../src/fonts/bodoni/Bodoni\ Italic.ttf');
  font-style: italic;
  font-weight: normal;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: var(--firstColor);
  color: var(--fourthColor);
  margin-top: auto;
}

Main {
  background-color: var(--fourthColor);
  color: var(--fontColor);
}

header {
  background-color: var(--fourthColor);
}

.containerMargins {
  margin-left: 10%;
  margin-right: 10%;

}
.sectionHeader {
  color: var(--secondColor);
  font-size: 200%  !important;
  font-weight: bold !important;
}

.textColorHeader {
  color: var(--secondColor);
  font-size: 150% !important;
  font-weight: bold !important;
}

.textHeader {
  color: var(--fontColor);
  font-weight: bold !important;
  font-size: 120% !important;
  text-align: left;
}

.labText {
  color: var(--fontColor);
  font-size: 100% !important;
  text-align: justify;
}

/* Main View */ 

.square1 {
  background-color: var(--firstColor);
  color: white;
}

.square2 {
  background-color: var(--secondColor);
  color: white;
}

.square3 {
  background-color: var(--thirdColor);
  color: white;
}

.square4 {
  background-color: #F3634E;
  color: white;
}


/* Post View */ 

.postContainer {
  background-color: red;
  min-height: 100%;
  height: 100%;
}

.img-Max-Post {
  max-width: 300px;
}

.clickable {
  cursor: pointer;
}

.secondColorText {
color: var(--firstColor) !important ;
}